extends layout.pug

block title
	title Удобные стулья

block content
	section#l-home
		h1 <span>Делать</span> вашу жизнь комфортней<br> — для нас это <span>счастье</span>
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>Odio ipsa, suscipit quibusdam animi minima. Illo.
		a.btn Перейти в магазин
	// /section#l-home

	section#l-shop
		h2 Новые поступления
		p Купить сейчас
		.box
			.box__item
				.box__img
					img(src="/img/p1.jpg")
				p.box__title Серый стул
					span.box__stars
						i.bx.bxs-star
						i.bx.bxs-star
						i.bx.bxs-star
						i.bx.bxs-star
						i.bx.bxs-star-half
				.box__price 3400₽ <i class="bx bx-cart"></i>
			.box__item
				.box__img
					img(src="/img/p2.jpg")
				p.box__title Серый стул
					span.box__stars
						i.bx.bxs-star
						i.bx.bxs-star
						i.bx.bxs-star
						i.bx.bxs-star
						i.bx.bxs-star-half
				.box__price 3400₽ <i class="bx bx-cart"></i>
			.box__item
				.box__img
					img(src="/img/p3.jpg")
				p.box__title Серый стул
					span.box__stars
						i.bx.bxs-star
						i.bx.bxs-star
						i.bx.bxs-star
						i.bx.bxs-star
						i.bx.bxs-star-half
				.box__price 3400₽ <i class="bx bx-cart"></i>
			.box__item
				.box__img
					img(src="/img/p4.jpg")
				p.box__title Серый стул
					span.box__stars
						i.bx.bxs-star
						i.bx.bxs-star
						i.bx.bxs-star
						i.bx.bxs-star
						i.bx.bxs-star-half
				.box__price 3400₽ <i class="bx bx-cart"></i>
			.box__item
				.box__img
					img(src="/img/p5.jpg")
				p.box__title Серый стул
					span.box__stars
						i.bx.bxs-star
						i.bx.bxs-star
						i.bx.bxs-star
						i.bx.bxs-star
						i.bx.bxs-star-half
				.box__price 3400₽ <i class="bx bx-cart"></i>
			.box__item
				.box__img
					img(src="/img/p6.jpg")
				p.box__title Серый стул
					span.box__stars
						i.bx.bxs-star
						i.bx.bxs-star
						i.bx.bxs-star
						i.bx.bxs-star
						i.bx.bxs-star-half
				.box__price 3400₽ <i class="bx bx-cart"></i>
		a.btn Перейти в магазин
	// /section#l-shop

	section#l-new
		h2 Новая коллекция
		p Лучшие предложения
		.box
			.box__item
				.box__img
					img(src="/img/new1.jpg")
				p.box__title Серый стул
					span.box__stars
						i.bx.bxs-star
						i.bx.bxs-star
						i.bx.bxs-star
						i.bx.bxs-star
						i.bx.bxs-star-half
				.box__price 3400₽ <i class="bx bx-cart"></i>
			.box__item
				.box__img
					img(src="/img/new2.jpg")
				p.box__title Серый стул
					span.box__stars
						i.bx.bxs-star
						i.bx.bxs-star
						i.bx.bxs-star
						i.bx.bxs-star
						i.bx.bxs-star-half
				.box__price 3400₽ <i class="bx bx-cart"></i>
			.box__item
				.box__img
					img(src="/img/new3.jpg")
				p.box__title Серый стул
					span.box__stars
						i.bx.bxs-star
						i.bx.bxs-star
						i.bx.bxs-star
						i.bx.bxs-star
						i.bx.bxs-star-half
				.box__price 3400₽ <i class="bx bx-cart"></i>

	section#l-about
		.l-about-img
			img(src="img/about.jpg")
		.l-about-info
			h2 О компании
			h3 Мебель важная часть для комфорта
			p Lorem ipsum, dolor sit, amet consectetur adipisicing elit. Similique amet, incidunt perferendis laborum officiis quo fugiat ipsum asperiores enim tenetur omnis commodi qui facilis et ut dicta ipsa expedita, totam nesciunt.
			p Lorem ipsum, dolor sit, amet consectetur adipisicing elit. Similique amet, incidunt perferendis laborum officiis quo fugiat ipsum asperiores enim tenetur
			a.btn Узнать больше

	section#l-partners
		h2 Бренды
		p Наши партнёры
		.l-brands-container
			img(src="/img/Google.png" alt="")
			img(src="/img/amazon.png" alt="")
			img(src="/img/netflix.png" alt="")
			img(src="/img/tesla.png" alt="")
			img(src="/img/starbucks.png" alt="")
			img(src="/img/zoom.png" alt="")

	section#l-subscribe
		h2 Подписывайся на новостную рассылку
		form.form
			.l-group-form
				input(type="text" placeholder="Введите ваш email").form__control
				button(type="submit").btn ПОДПИСАТЬСЯ



