//- include _mixins.pug
include _modules.pug
include _variable.pug
doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="description", content="")
		meta(name="viewport", content="width=device-width,initial-scale=1")
		// build:css
		link(rel="preconnect" href="https://fonts.gstatic.com")
		link(href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet")
		link(rel="stylesheet", href="/css/main.css")
		// endbuild
		block title
			title Удобные стулья

		block top-script

	body
		header#l-header
			a(href="/").l-logo Удобные <span>стулья</span>
			i.bx.bx-menu.l-menu
			nav.nav.l-nav
				a(href="#l-home").nav__link Главная
				a(href="#l-shop").nav__link Магазин
				a(href="#l-new").nav__link Новые поступления
				a(href="#l-about").nav__link О нас
				a(href="#l-partners").nav__link Партнёры
				a(href="#l-subscribe").nav__link Контакты
		// /header#l-header

		#l-content
			block content
		// /#l-content

		footer#l-footer
			.l-footer-box
				h3 Удобные <span>стулья</span>
				p Lorem ipsum, dolor, sit amet consectetur adipisicing elit. Esse est iste enim officia ipsam nemo vitae.
				.l-social
					a(href="#"): i.bx.bxl-facebook
					a(href="#"): i.bx.bxl-twitter
					a(href="#"): i.bx.bxl-instagram
				</div>
			.l-footer-box
				h3 Услуги
				ul
					li: a(href="#") Продукция
					li: a(href="#") Помощь и поддержка
					li: a(href="#") Ценообразование
					li: a(href="#") Часто задаваемые вопросы
			.l-footer-box
				h3 Продукция
				ul
					li: a(href="#") Диваны
					li: a(href="#") Стулья
					li: a(href="#") Мебель для гостинной
					li: a(href="#") Офисная мебель
			.l-footer-box
				h3 Контакты
				address
					| Россия, Белгородская область<br>
					| г. Белгород, ул.&nbsp;Карла&nbsp;Маркса,&nbsp;4<br>
					abbr(title="Phone") (4722) 34-56-78
					br
					a(href="mailto:udobnostul@gmail.com") udobnostul@gmail.com
			.l-copyright © Copyright
		// /footer#l-footer

		block bottom-script
			// build:js
			script(src="/js/script.js")
			// endbuild
