/*!-----------------------------------------------------------------
	layout.pug - базовый шаблон
 -----------------------------------------------------------------*/
// прижатый футер к низу
*
*:before
*:after
	box-sizing border-box
// прижатый футер к низу
html
	scroll-behavior: smooth
	scroll-padding-top: 2rem
html, body
	height: 100%
body
	display: flex
	min-height: 100vh
	// исправление возможного бага с прижатым футером в мобильной версии
	min-height: -webkit-fill-available
	flex-direction: column

$paddingPage = {
	padding-left: 10%,
	padding-right: 10%
}
$paddingPageLarge = {
	padding-left: 4%,
	padding-right: 4%
}
$paddingTopSection = {
	padding-top: 50px
}
$paddingBottomSection = {
	padding-bottom: 50px
}

#l-header
	position fixed
	z-index 1000
	top 0
	right 0
	width 100%
	background: #edecea
	display flex
	align-items center
	justify-content space-between
	padding-top 18px
	padding-bottom 18px
	{$paddingPage}
	+mema(sizeLarge)
		{$paddingPageLarge}
	+mema(sizeSmall)
		padding-top 10px
		padding-bottom 10px
	> .l-logo
		font-size 1.2rem
		font-weight 600
		color: var(--text-color)
		text-decoration none
		&:hover
			color: var(--main-color)
			span
				color: var(--text-color)
		> span
			color: var(--main-color)
	> .l-menu
		font-size 2rem
		cursor pointer
		display none
		+mema(sizeMedium)
			display block

#l-content
	flex: 1

#l-footer
	display flex
	justify-content space-between
	flex-wrap wrap
	{$paddingTopSection}
	{$paddingPage}
	+mema(sizeLarge)
		{$paddingPageLarge}
	.l-footer-box
		width calc(100%/4 - 3%)
		+mema(sizeMedium)
			width calc(100%/2 - 2%)
		+mema(sizeSmall)
			width 100%
		> h3
			font-size 1.375rem
			padding 0
			margin 0
			span
				color var(--main-color)
		> p
		> address
			margin-top 16px
		.l-social
			font-size 24px
			+mema(sizeSmall)
				padding-bottom .5em
			.bx
				margin-right 10px
		> ul
			padding-left 0
			> li
				list-style: none
	.l-copyright
		width 100%
		text-align center
		{$paddingTopSection}
		padding-bottom 20px
