/*!-----------------------------------------------------------------
	layout.pug - базовый шаблон
 -----------------------------------------------------------------*/
// прижатый футер к низу
*
*:before
*:after
	box-sizing border-box
// прижатый футер к низу
html
	scroll-behavior: smooth
	scroll-padding-top: 2rem
html, body
	height: 100%
body
	display: flex
	min-height: 100vh
	// исправление возможного бага с прижатым футером в мобильной версии
	min-height: -webkit-fill-available
	flex-direction: column

// отступ в центре страницы и максимальная ширина
.l-page-width
	padding 0 15px
	// max-width: 1120px
	margin: 0 auto

#l-header
	position fixed
	top 0
	right 0
	width 100%
	background: #edecea
	display flex
	align-items center
	justify-content space-between
	padding 18px 10%
	> .l-logo
		font-size 1.2rem
		font-weight 600
		color: var(--text-color)
		text-decoration none
		&:hover
			color: var(--main-color)
			span
				color: var(--text-color)
		> span
			color: var(--main-color)
	>.l-menu
		font-size 2rem
		cursor pointer
		display none

#l-content
	// padding: 20px 0
	flex: 1
	section#l-home
		padding 50px 10%
		min-height 100vh
		background-image url('/img/background.jpg')
		background-repeat no-repeat
		background-size cover
		background-position right
		display flex
		flex-direction column
		justify-content center
		h1
			font-size 3rem
			span
				color var(--main-color)
		> .btn
			align-self start
			margin-top 20px
	section#l-shop
		padding 50px 10%
		text-align center
		h2
			color var(--main-color)
		.btn
			margin-top 20px

	section#l-brands
		img
			width 100px

#l-footer
	background-color $colorGray
	.l-page-width
		padding-top:15px
		padding-bottom 15px
		display flex
		justify-content space-between

// стрелка наверх
#l-top-scroll
	height 50px
	width 50px
	position fixed
	bottom 50px
	right 50px
	background #000
	color #fff
	font-size: 40px
	text-align center
	line-height: 51px
