/*!-----------------------------------------------------------------
  Стили для страниц
 -----------------------------------------------------------------*/
/*!-----------------------------------------------------------------
	index.pug
 -----------------------------------------------------------------*/
section#l-home
	{$paddingPage}
	{$paddingTopSection}
	{$paddingBottomSection}
	min-height 100vh
	background-image url('/img/background.jpg')
	background-repeat no-repeat
	background-size cover
	background-position right
	background-attachment fixed
	display flex
	flex-direction column
	justify-content center
	> h1
		font-size 3rem
		span
			color var(--main-color)
	> .btn
		align-self start
		margin-top 20px

section#l-shop
	{$paddingPage}
	{$paddingTopSection}
	{$paddingBottomSection}
	text-align center
	> h2
		font-size: 0.875rem
		text-transform: uppercase
		color: var(--main-color)
		margin-bottom 0
	> p
		font-size 1.6rem
		font-weight 700
		margin 0 0 .6em 0
	.btn
		margin-top 20px

section#l-new
	{$paddingPage}
	{$paddingTopSection}
	{$paddingBottomSection}
	text-align center
	> h2
		font-size: 0.875rem
		text-transform: uppercase
		color: var(--main-color)
		margin-bottom 0
	> p
		font-size 1.6rem
		font-weight 700
		margin 0 0 .6em 0

section#l-about
	{$paddingPage}
	{$paddingTopSection}
	{$paddingBottomSection}
	display flex
	.l-about-img
		width 45%
		padding-right 5%
		img
			border-radius 10px
			object-fit contain
	.l-about-info
		width 50%
		h2
			font-size: 0.875rem
			text-transform: uppercase
			color: var(--main-color)
			margin-bottom .6em
		h3
			font-size 1.6rem
			font-weight 700
			margin 0 0 .6em 0
			line-height 1.1em
		.btn
			margin-top .6em

section#l-partners
	{$paddingPage}
	{$paddingTopSection}
	{$paddingBottomSection}
	text-align center
	h2
		font-size: 0.875rem
		text-transform: uppercase
		color: var(--main-color)
		margin-bottom 0
	p
		font-size 1.6rem
		font-weight 700
		margin 0 0 1em 0
	.l-brands-container
		display flex
		align-items center
		justify-content space-between
		img
			width 100px
			filter: grayscale(1)
			&:hover
				filter: grayscale(0)

section#l-subscribe
	{$paddingPage}
	{$paddingTopSection}
	{$paddingBottomSection}
	display flex
	justify-content center
	align-items center
	flex-direction column
	background url('/img/bg.jpg')
	background-repeat: no-repeat
	background-size cover
	background-position center
	h2
		color #fff
		padding-bottom 1.3em
		margin 0
		font-size 1.5rem
	.l-group-form
		display flex
		align-items stretch
		> .form__control
		> .btn
			border 0
			border-radius: 0

/*!-----------------------------------------------------------------
	404.pug
 -----------------------------------------------------------------*/
.l-page-404
	display flex
	justify-content center
	align-items center
	flex-direction column
	height 100%
	h1
		font-size: 6rem
		span
			color var(--main-color)
	a
		text-decoration underline
