@font-face
	font-family: boxicons
	font-weight: 400
	font-style: normal
	src: url(../fonts/boxicons.eot)
	src: url(../fonts/boxicons.eot) format('embedded-opentype'),
	url(../fonts/boxicons.woff2) format('woff2'),
	url(../fonts/boxicons.woff) format('woff'),
	url(../fonts/boxicons.ttf) format('truetype'),
	url(../fonts/boxicons.svg?#boxicons) format('svg')
.bx
	font-family: boxicons !important
	font-weight: 400
	font-style: normal
	font-variant: normal
	line-height: 1
	text-rendering: auto
	display: inline-block
	text-transform: none
	speak: none
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
.bx-cart::before
	content: "\ec99"
.bxs-star::before
	content: "\ebac"
.bxs-star-half::before
	content: "\ebad"
.bx-menu::before
	content: "\edc2"
.bx-x-circle::before
	content: "\eef1"
.bxl-facebook::before
	content: "\e926"
.bxl-twitter::before
	content: "\e979"
.bxl-instagram::before
	content: "\e939"







