/*!-----------------------------------------------------------------
  .nav - модуль навигации
 -----------------------------------------------------------------*/
.nav
	margin 0
	padding 0
	display flex
	+mema(sizeMedium)
		position absolute
		flex-direction column
		z-index 1
		align-items center
		justify-content center
		width 100%
		background #fff
		text-align center
		box-shadow: 0 4px 4px rgba(0, 0, 0, .1)
		padding 0
		top -500px
		left 0
		transition top .3s ease
	&__link
		display block
		text-decoration none
		margin-left: 40px
		font-weight: 600
		color var(--text-color)
		+mema(sizeExtraLarge)
			margin-left 25px
		&:hover
			color var(--main-color)
			text-decoration none
	&.is-show
		top 100%
		.nav__link
			+mema(sizeMedium)
				padding 1.5em
				margin 0
				display block
				&:hover
					color #FFF
					background var(--main-color)
					display block
					width 100%
